<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/logo.png">

    <title>PoPaDoMs Server</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/pfam_maps/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/pfam_maps/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/pfam_maps">ppdms</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/pfam_maps/conflicts">Conflicts</a></li>
            <li><a href="/pfam_maps/resolved">Resolved</a></li>
            <li><a href="/pfam_maps/evidence">Evidence</a></li>
            <li><a href="/pfam_maps/accounts/profile/">User Profile</a></li>
            <li><a href="/pfam_maps/logs/portal/">Logs</a></li>
            <li><a href="/pfam_maps/about/">About</a></li>
          </ul>
          {% if user.is_authenticated %}
            <p class="navbar-text pull-right"> signed in as {{ user.username }}.</p>
          {% else %}
            <p class="navbar-text pull-right">Not logged in.</p>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>ppdms</h1>
        <p class="lead">Privileged Pfam-A domains mediate small molecule binding</p> 
        <div class="well">
            <p>Welcome to ppdms - a platform that facilitates manual refinements of a mapping of small molecule binding to Pfam-A domains. The mapping aims to link measurements of small molecule bioactivity stored in the ChEMBL database to regions within a given protein that are are described by Pfam-A domains. By associating bioactivity with a protein domain, rather than the whole length protein, the mapping enables meaningful alignments of drug targets and ligand-fishing approaches. </p>
        </div>
        <h4>How the mapping works</h4>
        <p> The mapping relies on a catalogue of Pfam-A domains that are known to mediate small molecule binding.
        This catalogue was established in a <a href="http://www.biomedcentral.com/1471-2105/13/S17/S11">study </a> presented at InCoB2012 and later refined as described in my PhD thesis. 
        This catalogue is the projected onto all protein targets in the ChEMBL database. As illustrated below, the projection can result in three different outcomes:
        <ul>
            <li> successful map to a single domain    </li>
            <li> no map to any domain                 </li>
            <li> conflicting maps to multiple domains </li>
        </ul>
        <img src="/static/pfam_maps/png/6ebd6c636e271d0f3c8a30bf4f9f5440.png"  height="250" width="550"/>
        </p>
        <h4>How ppdms mappings work</h4>
        <p>
        Very simple... well, almost very simple.
        Initially, the mappings are assigned using the catalogue of privileged Pfam-A domains, as outlined in the figure above.
        The mapping is applied to all activities that derive from binding or functional assays and have a pChEMBL value assigned to them.
        The process assigns three flags to each activity, the <strong>status_flag</strong>, the <strong>manual_flag</strong>, and the <strong>category_flag</strong>.
        The status_flag defines whether a given mapping is valid or not.
        The manual flag defines whether a mapping has been curated manually or not.
        The category flag defines the nature of the mapping, whether it was assigned successfully, or with conflict, or whether no mapping could be assigned to a given activity.
        The manual_flag is on 0 by default and set to 1, when a manual assignment hass been made in the Conflicts section of ppdms, and back to 0 if the assignment has been revoked in the Resolved section.
        In an independent release cycle, all mappings with a manual flag are exported and used to override the automatic mapping procedure. Thus they are perpetuated in subsequent releases of ppdms and ChEMBL.
        </p>
        <h4>ICanHazCode</h4>
        Yes, check <a href="https://github.com/fak/pfam_maps"> github </a>.

     </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/pfam_maps/dist/js/bootstrap.min.js"></script>
  </body>
</html>

