<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/logo.png">

    <title>PoPaDoMs Server</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/pfam_maps/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/pfam_maps/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/pfam_maps">ppdms</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/pfam_maps/conflicts">Conflicts</a></li>
            <li><a href="/pfam_maps/resolved">Resolved</a></li>
            <li><a href="/pfam_maps/evidence">Evidence</a></li>
            <li><a href="/pfam_maps/accounts/profile/">User Profile</a></li>
            <li><a href="/pfam_maps/logs/portal/">Logs</a></li>
            <li><a href="/pfam_maps/about/">About</a></li>
          </ul>
          {% if user.is_authenticated %}
            <p class="navbar-text pull-right"> signed in as {{ user.username }}.</p>
          {% else %}
            <p class="navbar-text pull-right">Not logged in.</p>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>ppdms</h1>
        <p class="lead">Privileged Pfam-A domains mediate small molecule binding</p> 
        <p> There are {{ act_count }} activities that could be mapped without conflicts. These are activities from binding assays that have an associated <strong> pChEMBL </strong> value. In theory, the mapping could be extended to other activity types, as long as the mapping to the target is a direct mapping in the assay.</p>
        <p> There are {{ clash_count }} activities where the mapping defaulted to more than one domain type. Of these, {{ man_count }} have been manually resolved.</p>
         <ul>
             {% for name, count in clash_arch.items %}
             <li><a href="/pfam_maps/conflicts/{{ name }}/">{{ name }}</a> ({{ count|length }} activities) </li>
             {% endfor %}
         </ul>
         <p> There are also {{ dub_count }} activities where the mapping defaulted to multiple instances of the same domain type. </p>
      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/pfam_maps/dist/js/bootstrap.min.js"></script>
  </body>
</html>


