<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/logo.png">

    <title>PoPaDoMs Server</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/pfam_maps/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/pfam_maps/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!-- Pfam libraries -->
  <!-- load the prototype library from google -->
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("prototype", "1.7");</script>
  <!-- the domain graphics library -->
  <script type="text/javascript" src="http://pfam.sanger.ac.uk/static/javascripts/domain_graphics.js"></script>

   <!-- Load variables -->
  <script type="text/javascript">
      var generate = function(seq, i){
          var sequence = seq[0];
          var pg = new PfamGraphic();
          console.log(i);
          pg.setParent("dg_" + i);
          pg.setImageParams( {
            xscale: 1,
            yscale: 1
            } );
          try {
             pg.setSequence( sequence );
             pg.render();
         } 
          catch ( e ) {
           $("errors").update( e ).show();
         }
      }
  </script>


  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/pfam_maps">ppdms</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/pfam_maps/conflicts">Conflicts</a></li>
            <li><a href="/pfam_maps/resolved">Resolved</a></li>
            <li><a href="/pfam_maps/evidence">Evidence</a></li>
            <li><a href="pfam_maps/accounts/profile/">User Profile</a></li>
            <li><a href="/pfam_maps/logs/portal/">Logs</a></li>
            <li><a href="/pfam_maps/about/">About</a></li>
          </ul>
          {% if user.is_authenticated %}
            <p class="navbar-text pull-right"> signed in as {{ user.username }}.</p>
          {% else %}
            <p class="navbar-text pull-right">Not logged in.</p>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="starter-template">
        <ul class="pagination pagination-sm">
            {% for idx in page_idx.paginator.page_range %}
                 {% if page_idx.number == idx %}
                     <li class=active><a href="?page= {{ idx }}"> {{ idx }} </a></li>
                 {% else %}
                     <li><a href="?page= {{ idx }}"> {{ idx }} </a></li>
                 {% endif %}
            {% endfor %}
        </ul>
        {% if ass and arch and doms %}
            <h3> Conflicting architecture: {{ arch }}  </h3>
                <p><strong>Assay-id</strong>: <a href="https://www.ebi.ac.uk/chembldb/assay/inspect/{{  ass }}" target="blank"> {{ ass }} </a></p> <!--<a href= "/pfam_maps/details/conflicts/{{ ass }}/ "> {{   ass }} </a></h4>-->
        <p> <strong>Pubmed-ID</strong>: <a href="http://europepmc.org/abstract/MED/{{assay_page.pubmed}}" target="_blank"> {{ assay_page.pubmed }} </a>. </p> 
                <p> <strong>Description</strong>: {{ assay_page.description }}  </p>
                <p><strong>Assay target pref_name</strong>: {{ assay_page.pref_name }} </p>
                <p><strong>Last edit</strong>: {{assay_page.timestamp}} -- submitted by <strong>{{assay_page.submitter}}</strong>
                <div class="well">
                    <p><em> {{ assay_page.comment }} </em></p>
                </div>
                <p>{{ assay_page.pref_name}} is composed of the following chain(s):
                <ul>
                    {% for uniprot in assay_page.components %}
                        <li><a href="http://www.uniprot.org/uniprot/{{ uniprot }}" target="blank">{{uniprot}}</a></li>
                    {% endfor %}
                </ul>
                {% for pfam_arch in assay_page.pfam_archs %}
                    <div id="dg_{{ forloop.counter }}{{ass}}"></div>
                        <script type="text/javascript">
                            generate({{ pfam_arch|safe }}, "{{ forloop.counter }}{{ass}}");
                        </script>
                {% endfor %}
                </p>
                <h3>Curator Input</h3>
                <div class="form-horizontal">
                 <form action="{% url 'vote_on_assay' ass arch  %}" method="post">{% csrf_token %}
                     {% for dom in doms %}
                         <input type='radio' name='choice' id="choice{{forloop.counter}}{{ ass }}"  value="{{ dom }}"/>
                         <label for= "choice{{forloop.counter}}{{ ass }}"> {{ dom }} </label>
                     {% endfor %}
                     <input class="form" name="comment" type="text" placeholder="Your comment here.">
                     <button class="btn btn" type="submit" value="rand">Sumbit</button>
                 </form>
                </div>
            Page {{ page_idx.number }} of {{ page_idx.paginator.num_pages }}.
        {% else %}
                <p>No index  available.</p>
        {% endif %}
      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/pfam_maps/dist/js/bootstrap.min.js"></script>
  </body>
</html>


