<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/logo.png">

    <title>PoPaDoMs Server</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/pfam_maps/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/pfam_maps/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/pfam_maps">ppdms</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/pfam_maps/conflicts">Conflicts</a></li>
            <li><a href="/pfam_maps/resolved">Resolved</a></li>
            <li><a href="/pfam_maps/evidence">Evidence</a></li>
            <li><a href="/pfam_maps/accounts/profile/">User Profile</a></li>
            <li><a href="/pfam_maps/logs/portal/">Logs</a></li>
            <li><a href="/pfam_maps/about/">About</a></li>
          </ul>
          {% if user.is_authenticated %}
            <p class="navbar-text pull-right"> signed in as {{ user.username }}.</p>
          {% else %}
            <p class="navbar-text pull-right">Not logged in.</p>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>ppdms</h1>
        <p class="lead">Privileged Pfam-A domains mediate small molecule binding</p> 
        <div class="well">
            <p>Welcome to ppdms - a platform that facilitates manual refinements of a mapping of small molecule binding to Pfam-A domains. The mapping aims to link measurements of small molecule bioactivity stored in the ChEMBL database to regions within a given protein that are are described by Pfam-A domains. By associating bioactivity with a protein domain, rather than the whole length protein, the mapping enables meaningful alignments of drug targets and ligand-fishing approaches. </p>
        </div>
        <h4>Why should I use ppdms</h4>
        <p> The ppdms facility is designed for users of the ChEMBL database who rely on sequence information to relate proteins to bioactive small molecules. ChEMBL provides a mapping of small molecule binding to Pfam-A domains and many users will be happy to rely on the provided mappings alone. However, ppdms offers the opportunity to review the mappings made available through the ChEMBL database. In addition, ppdms offers the opportunity to review cases that are not initially covered by the mapping available through ChEMBL: that of conflicting mappings, where multiple domains within the same protein can interact with small molecules. In ppdms, the user can decide to contribute as a curator to resolve such conflicting mappings. Resolved mappings from ppdms are regularly fed into the mapping available through ChEMBL. 
        <h4>How to use ppdms</h4>
        <p>
        You can review evidence of small molecule binding to Pfam-A domains in the <a href="/pfam_maps/evidence"><strong>Evidence</strong></a> section.
            For each domain in the catalogue, small molecule bioactivities are retrieved from the database and presented in a graphic.
            You can also review the manual assignemnts that were made by the curators in the <a href="/pfam_maps/resolved"><strong> Resolved</strong></a> section.
            If you are a registered curator, you can log-in in the <a href="pfam_maps/accounts/profile/"><strong>User Profile</strong></a> section and assign mappings in the <a href="/pfam_maps/conflicts"><strong>Conflicts</strong></a> section.
        Make sure to add a comment that helps others understand your assignemnt decision. </p> 


     </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/pfam_maps/dist/js/bootstrap.min.js"></script>
  </body>
</html>

