<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->   <!-- Not yet implemented -->
  <title>Evidence for small molecule binding to the {{ pfam_name }} domain.</title>
  <meta name="description" content="EMBL-EBI"><!-- Describe what this page is about -->
  <meta name="keywords" content="bioinformatics, chembl, pfam"><!-- A few keywords that relate to the content of THIS PAGE (not the whol project) -->
  <meta name="Felix A Kruger" content="EMBL-EBI"><!-- Your [project-name] here -->
  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/boilerplate-style.css">  <link type="text/css" rel="stylesheet" href="//www.ebi.ac.uk/sites/ebi.ac.uk/files/css/css_pbm0lsQQJ7A7WCCIMgxLho6mI_kBNgznNUWmTWcnfoE.css" media="all" />
  <link type="text/css" rel="stylesheet" href="//www.ebi.ac.uk/sites/ebi.ac.uk/files/css/css_6z9YLyvHu9hldkIQFm447bL5kIJd6aXLJo4jPwkIOuE.css" media="all" />
  <link type="text/css" rel="stylesheet" href="//www.ebi.ac.uk/sites/ebi.ac.uk/files/css/css_lyC8Tmq5m_SQrlekAhI1rvsZIy_TEiOAiYrRtoQzF7I.css" media="all" />
  <link type="text/css" rel="stylesheet" href="//www.ebi.ac.uk/sites/ebi.ac.uk/files/css/css_g_1VBPVR642xOdrVZyhVAznHwmIMSmWtvYrox46vmmU.css" media="all" />
  <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/mini/ebi-fluid-embl-noboilerplate.css" type="text/css" media="screen">  <!-- end CSS-->
  <!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
  <!-- Full build -->
  <!-- <script src="//www.ebi.ac.uk/web_guidelines/js/libs/modernizr.minified.2.1.6.js"></script> -->
  <!-- custom build (lacks most of the "advanced" HTML5 support -->
  <script src="//www.ebi.ac.uk/web_guidelines/js/libs/modernizr.custom.49274.js"></script>  
  <!--
  <script type="text/javascript" src="//www.ebi.ac.uk/misc/jquery.js?v=1.4.4"></script>
  <script type="text/javascript" src="//www.ebi.ac.uk/misc/jquery.once.js?v=1.2"></script>
  <script type="text/javascript" src="//www.ebi.ac.uk/misc/drupal.js?mm0jbl"></script>
  <script type="text/javascript" src="//www.ebi.ac.uk/sites/ebi.ac.uk/modules/contrib/caption_filter/js/caption-filter.js?mm0jbl"></script>
  <script type="text/javascript" src="//www.ebi.ac.uk/sites/ebi.ac.uk/modules/contrib/lightbox2/js/auto_image_handling.js?mm0jbl"></script>
  <script type="text/javascript" src="//www.ebi.ac.uk/sites/ebi.ac.uk/modules/contrib/lightbox2/js/lightbox.js?1368126952"></script>
  <script type="text/javascript" src="//www.ebi.ac.uk/sites/ebi.ac.uk/modules/contrib/panels/js/panels.js?mm0jbl"></script>
  <script type="text/javascript" src="//www.ebi.ac.uk/sites/ebi.ac.uk/modules/custom/training_specific/training_specific.js?mm0jbl"></script>
  <script type="text/javascript" src="//www.ebi.ac.uk/sites/ebi.ac.uk/libraries/tinymce/jscripts/tiny_mce/plugins/media/js/embed.js?mm0jbl"></script>
  -->
  <script type="text/javascript" src="/static/pfam_maps/d3/d3.v3.min.js"></script>
  <script type="text/javascript"> 
    var top_acts = {{ top_acts|safe }};
    var top_mols = {{top_mols|safe }};
  </script>

</head>


<body class="level1 html front not-logged-in no-sidebars page-node page-node- page-node-5956 node-type-panel og-context og-context-node og-context-node-494 role-anonymous-user user-0 page-home section-home subsection-overview domain-www">
<!-- page_top -->
    <!-- page -->
      <div id="skip-to">
        <ul>
            <li><a href="#content">Skip to main content</a></li>
            <li><a href="#local-nav">Skip to local navigation</a></li>
            <li><a href="#global-nav">Skip to EBI global navigation menu</a></li>
            <li><a href="#global-nav-expanded">Skip to expanded EBI global navigation menu (includes all sub-sections)</a></li>
        </ul>
    </div>
        
    <div id="wrapper" class="container_24 page">
        <header>
            <div id="global-masthead" class="masthead grid_24">
            <!--This has to be one line and no newline characters-->
                <a href="/" title="Go to the EMBL-EBI homepage"><img src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_white.png" alt="EMBL European Bioinformatics Institute"></a>
                <nav>
                    <ul id="global_nav"><li class="menu-3273 menu-services first" id="services"><a href="/services" title="">Services</a></li>
                    <li class="menu-3274 menu-research" id="research"><a href="//www.ebi.ac.uk/research" title="">Research</a></li>
                    <li class="menu-3248 menu-training active" id="training"><a href="//www.ebi.ac.uk/training" title="">Training</a></li>
                    <li class="menu-3275 menu-industry" id="industry"><a href="//www.ebi.ac.uk/industry" title="">Industry</a></li>
                    <li class="menu-3272 menu-about-us last" id="about-us"><a href="//www.ebi.ac.uk/about" title="">About us</a></li></ul>
                </nav>            
            </div>
        
            <div id="local-masthead" class="masthead grid_24 nomenu">
                <div class="grid_24" id="local-title">
                    <div class="content">
                        <h1>ChEMPfam</h1>
                        <h2 class='strapline'>Mapping small molecule bioactivities to Pfam-A domains</h2>
                    </div>
                </div>
                <nav>   
                    <div class="menu-block-wrapper menu-block-2 menu-name-main-menu parent-mlid-0 menu-level-  2">
                        <ul id="local_nav" class="grid_24">
                            <li class="first active-trail active menu-mlid-3060 menu-overview active active-       trail menu-3060">
                                <a class="active-trail active" href="/pfam_maps">Overview</a>
                            </li>
                            <li class=" menu-mlid-3458 menu-a-to-z menu-3458">
                                <a href="/pfam_maps/conflicts">Conflicts</a>
                            </li>
                            <li class=" menu-mlid-3615 menu-service-teams menu-3615">
                                <a href="/pfam_maps/resolved">Resolved</a>
                            </li>
                            <li class="last menu-mlid-3135 menu-support menu-3135">
                                <a title="" href="/pfam_maps/evidence" fix="h-">Evidence</a>
                            </li>
                            <li class="last menu-mlid-3135 menu-support menu-3135">
                                <a title="" href="/pfam_maps/accounts/login" fix="h-">Login</a>
                            </li>
                            <li class="last menu-mlid-3135 menu-support menu-3135">
                                <a title="" href="/pfam_maps/accounts/logout" fix="h-">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    <div id="content" role="main" class="grid_24 clearfix">    
    <!-- Suggested layout containers -->
        <section class="grid_24">                                                                            
            <div class="content">
                <div id="node-5956" class="node node-panel clearfix" about="/home" typeof="sioc:Item foaf:Document">
                    <div class="content">
                        <div class="panels-flexible-column panels-flexible-column-service-main grid_16 alpha panels-flexible-column-first">
                            <div class="panels-flexible-row panels-flexible-row-service-4 panels-flexible-row-first clearfix ">
                                <div class="panels-flexible-region panels-flexible-region-service-top ">
                                    <div class="panel-pane pane-custom pane-2 clearfix">
                                        <!-- Content goes here -->
                                        <h3> {{ pfam_name }} </h3>
                                        {% if top_mols and top_acts  %}
                                        <p>
                                        Shown below are measured interactions of the {{ pfam_name }} Pfam-A domain with small molecules. Each point represents a measurement. There is currently a limit of   ten on the number of displayed molecules. The total number of activities for this domain type in ChEMBL is {{ n_acts }}. For some Pfam-A domains, such as 7tm_1, there will be   many more compounds.
                                        </>
                                        {% else %}
                                            <p>No index  available.</p>
                                        {% endif %}
                                        <p  id="anks">
                                        </p>
                                        
					{% load staticfiles %}
                                        <script type="text/javascript" src="{% static "pfam_maps/js/scatterplot.js" %}"></script>
                                       <!-- Content ends here -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
    <!-- End suggested layout containers -->
    </div>
  </div> <!--! end of #wrapper -->
  <!-- JavaScript at the bottom for fast page loading -->
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <!--
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../js/libs/jquery-1.6.2.min.js"><\/script>')</script>
  -->
  <!-- Your custom JavaScript file scan go here... change names accordingly -->
  <link rel="stylesheet" type="text/css" href="/static/pfam_maps/css/tooltipster.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
  <script type="text/javascript" src="/static/pfam_maps/js/jquery.tooltipster.min.js"></script>
  <script>
      $(document).ready(function() {
        $('.tooltip').tooltipster({
            arrow: false,
            delay: 200,
            interactive: true,
            theme: '.tooltipster-light',
            });
      });
  </script>
  <script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/plugins.js"></script>
  <script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/script.js"></script>
  <script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/cookiebanner.js"></script>  
  <script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/foot.js"></script>
  <!-- end scripts-->
  <!-- Google Analytics details... -->      
  <!-- Change UA-XXXXX-X to be your site's ID -->
  <!--
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>
  -->
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
<!-- page_bottom -->
</body>
</html>

